NEXT_PUBLIC_SUPABASE_URL=https://ufhjblocneiptswojvac.supabase.co

NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVmaGpibG9jbmVpcHRzd29qdmFjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODUzMDQwMzcsImV4cCI6MjEwMDg4MDAzN30.WEQBC3a8VpwGDgKEB9m7C_9ghWUYf3YsAyT0lxtjhNw

N8N_WEBHOOK_URL=https://azure1620.app.n8n.cloud/webhook/support-intake

N8N_WEBHOOK_UPLOAD_FILE_URL=https://azure1620.app.n8n.cloud/webhook/7dc5a98e-af80-476d-b3af-cc9f1485b7ba

ZALO_BOT_TOKEN=4602954381826973562:ZmaEgVkNWIFHuVgEBTlOBSkewsCyrHKilkcRzNALuaYcLDppfJTDtYOuRGVyGmbq

SUPABASE_SERVICE_ROLE_KEY=your-service-role-key